<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

    <!--bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"
          p:location="/WEB-INF/jdbc.properties" />

    <bean id="dataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource"
          p:driverClassName="${jdbc.driverClassName}"
          p:url="${jdbc.url}"
          p:username="${jdbc.username}"
          p:password="${jdbc.password}" /-->

    <!-- ADD PERSISTENCE SUPPORT HERE (jpa, hibernate, etc) -->



<!--    <bean id="chatClient" class="com.activedd.google.extensions.fbchat.chat.ChatClient"></bean>-->
    <bean id="jsoncreator" class="com.activedd.google.extensions.fbchat.chat.JsonCreate" ></bean>
    
    <bean id="applicationProperties" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath:../fbproperties.properties"/>
    </bean>
    <bean id="configuration" class="com.activedd.google.extensions.fbchat.chat.ServerConfiguration" >
        <constructor-arg value="${fbapp.domain}" />
        <constructor-arg value="${fbapp.port}"/>
    </bean>
    <bean id="facebook" class="com.google.code.facebookapi.FacebookJsonRestClient">
        <constructor-arg value="${fbapp.appKey}" />
        <constructor-arg value="${fbapp.apiSecretkey}"/>
    </bean>
    <bean name="LoginFilter" class="com.activedd.google.extensions.fbchat.filter.LoginFilter" >
        <property name="extUrl" value="${fbapp.extLink}"/>
    </bean>
    
</beans>
