<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>*.htm</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>xmppreceiver</servlet-name>
        <servlet-class>com.activedd.google.extensions.fbchat.controller.xmppreceiver</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadyChat</servlet-name>
        <servlet-class>com.activedd.google.extensions.fbchat.controller.ReadyChat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateList</servlet-name>
        <servlet-class>com.activedd.google.extensions.fbchat.controller.UpdateList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SessionKeyLogin</servlet-name>
        <servlet-class>com.activedd.google.extensions.fbchat.controller.SessionKeyLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SessionKey</servlet-name>
        <servlet-class>com.activedd.google.extensions.fbchat.controller.SessionKey</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReadyChat</servlet-name>
        <url-pattern>/ReadyChat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>xmppreceiver</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateList</servlet-name>
        <url-pattern>/updatelist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SessionKeyLogin</servlet-name>
        <url-pattern>/SessionKeyLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SessionKey</servlet-name>
        <url-pattern>/SessionKey</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            60
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>/index</welcome-file>
    </welcome-file-list>
</web-app>
